/* Custom CSS */

.adjust-btn {
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 15px;
}

.btn-custom {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    vertical-align: middle;
}

/* When the mouse through the button */
.btn-custom:hover {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}

.services.item img {
	display: block;
    width: 100%;
    height: auto;
}
.padding-mine {
  padding-top: 30px;
  padding-bottom: 30px;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
  }

.btn-mine {
  border-radius:                    0px;
  -webkit-border-radius:            0px;
  -moz-border-radius:               0px;
}


html,body{height:100%;}
.carousel,.item,.active{height:100%;}
.carousel-inner{height:100%;}
.fill{width:100%;height:100%;background-position:center;background-size:cover;}

/* faster sliding speed */
.carousel-inner > .item {
    -webkit-transition: 0.3s ease-in-out left;
    -moz-transition: 0.3s ease-in-out left;
    -o-transition: 0.3s ease-in-out left;
    transition: 0.3s ease-in-out left;
}

/* keep full widget on smaller screens */
@media (max-width: 767px) { 
  body {
    padding-left: 0;
    padding-right: 0;
  }
}

#owl-demo .item{
  /*background: #42bdc2;*/
  padding: 30px 0px;
  margin: 10px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}

.foo {   
    float: left;
    width: 3px;
    height: 23px;
    margin: 5px 5px 5px 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,.2);

}

/* Custom CSS */