/* Custom CSS */

.adjust-btn {
    margin-top: 11px;
    margin-left: 16px;
    margin-right: 15px;
}

.btn-custom {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    vertical-align: middle;
}

/* When the mouse through the button */
.btn-custom:hover {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}

.services.item img {
	display: block;
    width: 100%;
    height: auto;
}
.padding-mine {
  padding-top: 30px;
  padding-bottom: 30px;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
  }

.btn-mine {
  border-radius:                    0px;
  -webkit-border-radius:            0px;
  -moz-border-radius:               0px;
}


html,body{height:100%;}
.carousel,.item,.active{height:100%;}
.carousel-inner{height:100%;}
.fill{width:100%;height:100%;background-position:center;background-size:cover;}

/* faster sliding speed */
.carousel-inner > .item {
    -webkit-transition: 0.3s ease-in-out left;
    -moz-transition: 0.3s ease-in-out left;
    -o-transition: 0.3s ease-in-out left;
    transition: 0.3s ease-in-out left;
}

/* keep full widget on smaller screens */
@media (max-width: 767px) { 
  body {
    padding-left: 0;
    padding-right: 0;
  }
}

#owl-demo .item{
  /*background: #42bdc2;*/
  padding: 0px 0px;
  padding-bottom: 0px;
  margin: 10px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}

.foo {   
    float: left;
    width: 3px;
    height: 23px;
    margin: 5px 5px 5px 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,.2);

}

.fooo {   
    float: left;
    width: 3px;
    height: 33px;
    margin-top: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,.2);
}

.mg-10 {
  margin-top: 10px;
}

.pd-150 {
  padding-right: 150px;
}

#container {
    margin-right: auto;
    margin-left: auto;
    background-color: #ffffff;
}

.navbar {
    margin-bottom: 0;
    background: #fff;
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
}

.navbar-brand {
    position: relative;
    padding-left: 150px;
    transition: all 0.3s ease-in-out;
    color: #1c1c1c;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.navbar-default .navbar-nav {
    margin-right: 0px!important;
    position: relative;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.navbar-default .navbar-nav > li {
    margin-left: 0px;
}

.navbar-default .navbar-nav > li:first-child {
    margin-left: 0px;
}

.navbar-default .navbar-nav > li > a {
    color: #1c1c1c;
    display: block;
    font-size: 14px;
    font-weight: 200;
    padding: 10px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.navbar-default .navbar-nav > li > a {
    border-bottom: 3px solid #fff;
}

.navbar-default .navbar-nav > li > a.active, .navbar-default .navbar-nav > li:hover > a {
    border-bottom: 3px solid #1c1c1c;
}

#footer {
  background-color: #2f2f2f;
  padding-top: 50px;
  padding-bottom: 50px; 
}

#footer p {
  color: white;
}

#footer h4 {
  color: white;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.grey {
  background-color: #DFDFDF;
}

.test {
  position: relative;
  background-color: #FC2828;
}

.test:before, .test:after {
  content: "";
  position: absolute;
  background-color: #FC2828; /* Match the background */
  top: 0;
  bottom: 0;
  width: 9999px;   /* some huge width */
} 

.test:before {
  right: 100%;
}

.test:after {
  left: 100%;
}

.brdr {
  border-style: solid;
    border-bottom: thick solid #F80042;
}

.brtr {
  border-style: solid;
    border-top: thick solid #F80042;
}

.paddinmine {
  padding-bottom: 0px;
}
.mytext {
  text-align: center;
}

/* Custom CSS */